
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test sayfası</h1>
<h3>burası test view sayfasıdır</h3>

<table>
    <tr>
        <th>ID</th>
        <th>AD</th>
        <th>SOYAD</th>
    </tr>

    <tr>
        <td>1</td>
        <td>Ömer</td>
        <td>ÇOBAN</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Ömer</td>
        <td>ÇOBAN</td>
    </tr>
</table>
